venv

/costumestore/costumestore/.env
/costumestore/costumestore/__pycache__

/costumestore/website/__pycache__
/costumestore/website/migrations

/costumestore/authentication/__pycache__
/costumestore/authentication/migrations

/costumestore/vendor/__pycache__
/costumestore/vendor/migrations

/costumestore/accounts/__pycache__
/costumestore/accounts/migrations

/costumestore/scripts/__pycache__