{% extends "authentication/base.html" %} 
{% load static %} 
{% block auth_body %} 
  
  <section class="login_container">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-4">
          <!-- <% if(messages.error){ %>
          <div
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
          >
            <%= messages.error %>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          <% } %> -->
          <div class="card">
            <div class="card-body p-5">
              <div class="title mb-5">
                <h4>Login to Continue</h4>
                <p class="mt-2">Welcome bake to costume store</p>
              </div>
              <form method="POST" action="/authentication/login" id="email_form">
                <div class="mb-3">
                  <label for="inputPassword" class="form-label">Password</label>
                  <input
                    type="password"
                    name="password"
                    class="form-control is-invalid"
                    id="inputPassword"
                    placeholder="Enter your password"
                  />
                  <div id="inputCPasswordFeedback" class="invalid-feedback">
                    Please enter valid password
                  </div>
                </div>
                <button type="submit" class="btn btn-success w-100">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock auth_body %}