{% extends 'website/base.html' %} {% load static %} {% block body %}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a href="{% url 'home_page' %}"><i class="fa fa-home"></i> Home</a>
          <span>Shopping cart</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
  {% if cart_items %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shop__cart__table">
          <table>
            <thead>
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Size</th>
                <th>Color</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart_items %}
              <tr>
                <td class="cart__product__item">
                  <img src="{{item.product.images.0.url}}" alt="" />
                  <div class="cart__product__item__title">
                    <h6>
                      <a href="{% url 'product_details' id=item.product.id %}"
                        >{{item.product.name}}</a
                      >
                    </h6>
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </td>
                <td class="cart__price">₹ {{item.product.price}}</td>
                <td class="cart__size">{{item.size}}</td>
                <td class="cart__color">{{item.color}}</td>
                <td class="cart__quantity">
                  <div class="cart-pro-qty">
                    <a
                      href="{% url 'cart_item_qty' operation='decrease' id=item.id %}"
                      class="dec qtybtn"
                      >-</a
                    >
                    <input type="text" value="{{item.quantity}}" />
                    <a
                      href="{% url 'cart_item_qty' operation='increase' id=item.id %}"
                      class="inc qtybtn"
                      >+</a
                    >
                  </div>
                </td>
                <td class="cart__total">
                  ₹ {% widthratio item.quantity 1 item.product.price %}
                </td>
                <td class="cart__close">
                  <a
                    href="{% url 'cart_item_qty' operation='delete' id=item.id %}"
                  >
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="cart__btn float-right">
          <a href="{% url 'shop_page' category='all' %}">Continue Shopping</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="discount__content">
          <h6 class="mb-4">Discount codes</h6>
          <form action="#">
            <input type="text" placeholder="Enter your coupon code" />
            <button type="submit" class="site-btn">Apply</button>
          </form>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-2">
        <div class="cart__total__procced">
          <h6>Cart total</h6>
          <ul>
            <li>Subtotal <span>₹ {{cart_items.0.cart.total_price}}</span></li>
            <li>Total <span>₹ {{cart_items.0.cart.total_price}}</span></li>
          </ul>
          <a href="{% url 'checkout_page' %}" class="primary-btn"
            >Proceed to checkout</a
          >
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container">
    <div class="empty_cart">
      <div class="container text-center">
        <h4 class="fw-bold">Cart Is Empty 😕</h4>
        <p class="text-muted">
          You probably haven't ordered yet. To order a costumes, go to the
          shop page.
        </p>
        <img
          class="d-block mx-auto my-4"
          src="{% static 'images/empty_cart.png' %}"
          alt=""
        />
        <div class="cart__btn">
          <a href="{% url 'shop_page' category='all' %}">Continue Shopping</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</section>
<!-- Shop Cart Section End -->

{% endblock body %}
