{% extends 'website/base.html' %} {% load static %} {% block body %}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a href="{% url 'home_page' %}"><i class="fa fa-home"></i> Home</a>
          <a href="{% url 'shop_page' category=product_details.category %}">{{product_details.category}}'s </a>
          <span>{{product_details.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="product__details__pic">
          <div class="product__details__pic__left product__thumb nice-scroll">
            {% for img in product_details.images %}
            <a class="pt active" href="#product-1">
              <img src="{{img.url}}" alt="" />
            </a>
            {% endfor %}
          </div>
          <div class="product__details__slider__content">
            <div class="product__details__pic__slider owl-carousel">
              {% for img in product_details.images %}
              <img
                data-hash="product-1"
                class="product__big__img"
                src="{{img.url}}"
                alt=""
              />
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product__details__text">
          <h3>
            {{product_details.name}}
            <span>Brand: SKMEIMore Men Watches from SKMEI</span>
          </h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <span>( 138 reviews )</span>
          </div>
          <div class="product__details__price">
            ₹ {{product_details.price}} <span>₹ {{product_details.price}}</span>
          </div>
          <p>
            Nemo enim ipsam voluptatem quia aspernatur aut odit aut loret fugit,
            sed quia consequuntur magni lores eos qui ratione voluptatem sequi
            nesciunt.
          </p>
          {% if user.is_authenticated and user.role == "customer" %}
          <form
            action="{% url 'add_to_cart' id=product_details.id %}"
            method="post"
            novalidate
          >
            {% csrf_token %}
            <div class="product__details__widget">
              <ul>
                <li>
                  <span>Available color:</span>
                  <div class="color__checkbox">
                    <label for="red">
                      <input
                        type="radio"
                        name="color"
                        id="red"
                        value="Red"
                        checked
                      />
                      <span class="checkmark red-bg"></span>
                    </label>
                    <label for="black">
                      <input type="radio" name="color" value="Black" id="black" />
                      <span class="checkmark black-bg"></span>
                    </label>
                    <label for="grey">
                      <input type="radio" name="color" value="Gray" id="grey" />
                      <span class="checkmark grey-bg"></span>
                    </label>
                  </div>
                </li>
                <li>
                  <span>Available size:</span>
                  <div class="size__btn">
                    <label for="xs-btn">
                      <input type="radio" id="xs-btn" name="size" value="XS" />
                      xs
                    </label>
                    <label for="s-btn">
                      <input type="radio" id="s-btn" name="size" value="S" />
                      s
                    </label>
                    <label for="m-btn" class="active">
                      <input type="radio" id="m-btn" name="size" value="M" checked/>
                      m
                    </label>
                    <label for="l-btn">
                      <input type="radio" id="l-btn" name="size" value="L" />
                      l
                    </label>
                  </div>
                </li>
                <li>
                  <span>Promotions:</span>
                  <p>Free shipping</p>
                </li>
              </ul>
            </div>
            <div class="product__details__button mt-5">
              <div class="quantity">
                <span>Quantity:</span>
                <div class="pro-qty">
                  <input type="text" value="1" name="quantity" />
                </div>
              </div>
              <ul>
                <li class="">
                  <a href="#" class="in_wishlist"
                    ><i class="fa fa-heart-o" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
            <button type="submit" class="cart-btn border-0">
              <i class="fa fa-shopping-bag mr-1" aria-hidden="true"></i> Add
              to cart
            </button>
          </form>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-12">
        <div class="product__details__tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                data-toggle="tab"
                href="#tabs-1"
                role="tab"
                >Description</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                >Specification</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                >Reviews ( 2 )</a
              >
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <h6>Description</h6>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                aut loret fugit, sed quia consequuntur magni dolores eos qui
                ratione voluptatem sequi nesciunt loret. Neque porro lorem
                quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut loret
                fugit, sed quia ipsu consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Nulla consequat massa quis enim.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                quis, sem.
              </p>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
              <h6>Specification</h6>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                aut loret fugit, sed quia consequuntur magni dolores eos qui
                ratione voluptatem sequi nesciunt loret. Neque porro lorem
                quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut loret
                fugit, sed quia ipsu consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Nulla consequat massa quis enim.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                quis, sem.
              </p>
            </div>
            <div class="tab-pane" id="tabs-3" role="tabpanel">
              <h6>Reviews ( 2 )</h6>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                aut loret fugit, sed quia consequuntur magni dolores eos qui
                ratione voluptatem sequi nesciunt loret. Neque porro lorem
                quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut loret
                fugit, sed quia ipsu consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Nulla consequat massa quis enim.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                quis, sem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="related__title">
          <h5>RELATED PRODUCTS</h5>
        </div>
      </div>
      {% for product in related_products %}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            data-setbg="{{product.images.0.url}}"
          >
            <div class="label new">New</div>
            <ul class="product__hover">
              <li>
                <a href="{{product.images.0.url}}" class="image-popup"
                  ><i class="fa fa-expand" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-shopping-bag" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>
              <a href="{% url 'product_details' id=product.id %}"
                >{{product.name}}</a
              >
            </h6>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product__price">₹ {{product_details.price}}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Product Details Section End -->

{% endblock body %}
