{% extends 'website/base.html' %} {% load static %} {% block body %}

{% if products %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="breadcrumb__links">
          <a href="{% url 'home_page' %}"><i class="fa fa-home"></i> Home</a>
          <span>Shop</span>
        </div>
      </div>
      <div class="col-lg-9 category_title">
        <h4><b>{{category}}</b></h4>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="shop__sidebar">
          <form action="{% url 'shop_page' category=category %}" method="get">
            <div class="sidebar__filter">
              <div class="section-title">
                <h4>Shop by price</h4>
              </div>
              <div class="filter-range-wrap">
                <input
                  type="range"
                  name="price"
                  value="{{current_price}}"
                  class="product_price_range"
                  min="{{min_price}}"
                  max="{{max_price}}"
                  step="1"
                />
                <p>
                  Price: <span class="min_price">₹{{current_price}}</span> -
                  <span>₹{{max_price}}</span>
                </p>
              </div>
            </div>
            <div class="sidebar__sizes">
              <div class="section-title">
                <h4>Shop by size</h4>
              </div>
              <div class="size__list">
                {% for size in all_sizes %}
                <label for="{{size}}">
                  {{size}}
                  <input type="checkbox" id="{{size}}" name="sizes" value="{{size}}" {% if size in filtered_sizes %} checked {% endif %} />
                  <span class="checkmark"></span>
                </label>
                {% endfor %}
              </div>
            </div>
            <div class="sidebar__color">
              <div class="section-title">
                <h4>Shop by color</h4>
              </div>
              <div class="size__list color__list">
                {% for color in all_colors %}
                <label for="{{color}}">
                  {{color}}
                  <input type="checkbox" id="{{color}}" name="colors" value="{{color}}" {% if color in filtered_colors %} checked {% endif %} />
                  <span class="checkmark"></span>
                </label>
                {% endfor %}
              </div>
            </div>
            <button type="submit" class="btn btn-outline-success">Filter</button>
          </form>
        </div>
      </div>
      <div class="col-lg-9 col-md-9">
        <div class="row">
          {% for product in products %}
          <div class="col-lg-4 col-md-6">
            <div class="product__item">
              <div
                class="product__item__pic set-bg"
                data-setbg="{{product.images.0.url}}"
              >
                <ul class="product__hover">
                  <li>
                    <a href="{{product.images.0.url}}" class="image-popup"
                      ><i class="fa fa-expand" aria-hidden="true"></i
                    ></a>
                  </li>
                  {% if user.is_authenticated and user.role == "customer" %}
                  <li>
                    <a
                      href="#"
                      id="wishlist_btn"
                      data-url="{% url 'wishlist' %}"
                      data-id="{{product.id}}"
                      {% if product in wishlist_products %} data-operation="remove" {% else %} data-operation="add" {% endif %}
                    >
                      <i
                        class="fa {% if product in wishlist_products %} fa-heart {% else %} fa-heart-o {% endif %}"
                        aria-hidden="true"
                      ></i>
                    </a>
                  </li>
                  {% endif %}
                  <li>
                    <a href="{% url 'product_details' id=product.id %}"
                      ><i class="fa fa-eye" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6>
                  <a href="{% url 'product_details' id=product.id %}"
                    >{{product.name}}</a
                  >
                </h6>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product__price">₹ {{product.price}}</div>
              </div>
            </div>
          </div>
          {% endfor %}

          <!-- Pagination -->
          {% if is_paginated %}
          <div class="col-lg-12 mt-5 text-center">
            <!-- <p>Total Pages: {{page_obj.paginator.num_pages}}</p> -->
            <div class="pagination__option">
              {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}" tabindex="-1"
                ><i class="fa fa-angle-left"></i
              ></a>
              {% endif %}

              <a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>

              {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}"
                ><i class="fa fa-angle-right"></i
              ></a>
              {% endif %}
            </div>
            <!-- <p>Total Products: {{page_obj.paginator.count}}</p> -->
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="shop spad">
  <div class="container">
    <div class="empty_cart">
      <div class="container text-center">
        <h4 class="fw-bold">Product Not Found 😕</h4>
        <p class="text-muted">
          Your requirement has not been met. Please visit after some time.
        </p>
        <img
          class="d-block mx-auto my-4"
          src="{% static 'images/Not_found.png' %}"
          alt=""
        />
        <div class="cart__btn">
          <a href="{% url 'home_page' %}">Home Page</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- Shop Section End -->

{% endblock body %}
