{% extends 'website/base.html' %} 
{% load static %} 
{% block body %}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a href="{% url 'home_page' %}"><i class="fa fa-home"></i> Home</a>
          <span>Wishlist</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="wishlist spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="wishlist__table">
          <table>
            <thead>
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for item in wishlist_items %}
              <tr>
                <td class="wishlist__product__item">
                  <img src="{{item.product.images.0.url}}" alt="" />
                  <div class="wishlist__product__item__title">
                    <h6>
                      <a href="{% url 'product_details' id=item.product.id %}"
                        >{{item.product.name}}</a
                      >
                    </h6>
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </td>
                <td class="wishlist__price">₹ {{item.product.price}}</td>
                <td class="wishlist__close">
                  <a href="{% url 'wishlist_operations' operation='remove' id=item.product.id %}">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="cart__btn float-right">
          <a href="{% url 'shop_page' category='all' %}">Continue Shopping</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cart__total__procced">
          <h6>Wishlist total</h6>
          <ul>
            <li>Subtotal <span>₹ {{wishlist_items.0.wishlist.total_price}}</span></li>
            <li>Total <span>₹ {{wishlist_items.0.wishlist.total_price}}</span></li>
          </ul>
          <a href="#" class="primary-btn">Proceed to checkout</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shop Cart Section End -->

{% endblock body %}
