{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Costume Store</title>
    <link
      rel="icon"
      type="image/png"
      href="{% static 'images/icons/favicon.png' %}"
    />
    <!-- Bootstrap CSS v4.0 -->
    <link
      rel="stylesheet"
      href="https://cdn.usebootstrap.com/bootstrap/4.4.1/css/bootstrap.min.css"
      type="text/css"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
  </head>
  <body>
    {% block auth_body %} {% endblock auth_body %}

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap JS v4.0 -->
    <script src="https://cdn.usebootstrap.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
