{% extends "authentication/base.html" %} 
{% load static %} 
{% block auth_body %}

<section class="signUp_container">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-4">
        <div class="card">
          <div class="card-body p-5">
            <div class="title mb-5">
              <h4>Join Costume Store</h4>
              <p>Enter your details and join with us.</p>
            </div>
            <form method="POST" action="{% url 'signup' %}" novalidate>
              {% csrf_token %}
              <div class="mb-3">
                <label for="inputEmail" class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  value="{{data.email}}"
                  disabled
                />
                <input
                  type="hidden"
                  name="email"
                  value="{{data.email}}"
                />
              </div>
              <div class="mb-3">
                <label for="inputName" class="form-label">Name</label>
                <input
                  type="text"
                  name="name"
                  value="{{data.name}}"
                  class="form-control {% if errors.name %} is-invalid {% endif %}"
                  id="inputName"
                  placeholder="First Last"
                />
                <div id="inputNameFeedback" class="invalid-feedback">
                  {{ errors.name }}
                </div>
              </div>
              <div class="mb-3">
                <label for="inputPassword" class="form-label"
                  >Password</label
                >
                <input
                  type="password"
                  name="password"
                  value="{{data.password}}"
                  class="form-control {% if errors.password %} is-invalid {% endif %}"
                  id="inputPassword"
                  placeholder="Min 8 chr, 1 letter & 1 number"
                />
                <div id="inputPasswordFeedback" class="invalid-feedback">
                  {{errors.password}}
                </div>
              </div>
              <div class="mb-3">
                <label for="inputCPassword" class="form-label"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  name="cpassword"
                  value="{{data.cpassword}}"
                  class="form-control {% if errors.confirm_pass %} is-invalid {% endif %}"
                  id="inputCPassword"
                  placeholder="Min 8 chr, 1 letter & 1 number"
                />
                <div id="inputCPasswordFeedback" class="invalid-feedback">
                  {{errors.confirm_pass}}
                </div>
              </div>
              <div class="mb-3">
                <label for="role">Role</label>
                <select name="role" class="form-control {% if errors.role %} is-invalid {% endif %}" id="role">
                  <option value="customer" selected>Customer</option>
                  <option value="vendor">Vendor</option>
                </select>
                <div id="inputRoleFeedback" class="invalid-feedback">
                  {{errors.role}}
                </div>
              </div>
              <button type="submit" class="btn btn-success w-100">
                Create Account Now
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock auth_body %}
